@{
    ViewBag.Title = "Index";
}

<div class="col-6">
    <h1>Types of Events</h1>
    <p>Sporting events around the capital.</p>
    <p>Concerts showcasing international and local talents.</p>
    <p>Theater showcasing a variety of unique plays and productions.</p>
    <p>Festivals showcasing what Wellington has to offer.</p>
    <p>Exhibitions showcasing art pieces both local and international.</p>
    <p>Quiz nights covering many topic areas.</p>
</div>

<div class="col-6">
    <h1>Contents</h1>
    <p>Search and register for many events around the Wellington Region</p>
    <p>Register with your client details which can be edited at any time while also adding and removing interested events.</p>
</div>

<div class="col-12" id="photos">
    <h2 class="w3-text-light-grey">Past Events</h2>
    <hr style="width:200px" class="w3-opacity">
    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
            <img src="~/Content/Images/concert.jpg" style="width:100%">
            <img src="~/Content/Images/roundTheBay.jpg" style="width:100%">
            <img src="~/Content/Images/fireworks.jpg" style="width:100%">
            <img src="~/Content/Images/tables.jpg" style="width:100%">
        </div>

        <div class="w3-twothird">
            <img src="~/Content/Images/wineFood.jpg" style="width:100%">
            <img src="~/Content/Images/concert2.jpg" style="width:100%">
            <img src="~/Content/Images/lights.jpg" style="width:100%">
        </div>
    </div>
    <!-- End photo grid -->
</div>