@model OnlineRegSystem.Models.Register

@{
    ViewBag.Title = "Details";
}

<div>
    <h4> Client Is no longer Registered for an Event </h4>
</div>

<div style=" width: 200px">
    <input class="w3-button w3-red" type='button' onclick='history.go(-1);' value='Go Back' />
</div>