@{
    ViewBag.Title = "Index";
}

@model OnlineRegSystem.Models.Event

    <div class="col-6">
        @using (Html.BeginForm("Index", "DeleteEvent/Del", FormMethod.Get))
        {
            <h1>Delete Registration</h1>
            <h5>Delete Registration for an event that you have signed up for that you no longer wish to sign up for</h5>

            @Html.AntiForgeryToken()

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <label>Client Email: </label> <div style="COLOR: blue; width: 200px"> @Html.TextBox("Email", null, string.Empty, new { @class = "form-control" }) </div> <br /> <br />

            <label>Event Name: </label> <div style="COLOR: blue; width: 200px"> @Html.DropDownList("EventName", null, string.Empty, new { @class = "form-control" }) </div> <br /> <br />

            <div style=" width: 50px">
                <button class="w3-button w3-red" type="Submit">Delete</button> <br />
            </div>
        }
    </div>

<div class="col-6">
    <h1>Online Event Registration System</h1>
    <p>No longer interested in an event delete your record on that event or delete the event as a whole </p>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>